/* olive #21ba45 */
/* blue #2185d0 */

.menubar {
    border-radius: 0;
    margin-bottom: 60rem;
}

.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.form-container {
    width: 30rem;
    margin: 2rem auto auto auto;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

.segment {
    padding: 1rem 2rem 1rem 2rem;
}

.ui.green.button:focus,
ui.green.buttons .button:focus {
    background-color: #21ba45;
}

.ui.blue.button:focus,
ui.blue.buttons .button:focus {
    background-color: #2185d0;
}

.ui.orange.button:focus,
ui.orange.buttons .button:focus {
    background-color: #f2711c;
}

.ui.grid > .row {
    padding: 0;
}

.ui.menu:not(.vertical) .item > .button {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.ui.menu .ui.dropdown .menu > .item .icon:not(.dropdown) {
    color: #b5cc18;
}

.ui.segment {
    margin: 0;
}

.date-picker {
    margin-bottom: 0.5rem;
}
